<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mycs.css">
    <title>Document</title>
</head>
<body>
    <p>index page  </p>
    <img src="./../../images/opportunity-7065790.png">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, esse quo placeat maiores alias debitis temporibus quaerat totam soluta reiciendis dolor non deleniti nulla modi asperiores fugiat doloremque facilis nostrum.</p>
</body>
</html>